<h1>Logo Application</h1>
<p>version 1.0.0</p>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum magni aspernatur facilis aliquid soluta. Velit odit aspernatur nobis similique vitae harum exercitationem non facere repellendus. Aliquam nam est alias voluptatem perferendis, minus non accusantium inventore exercitationem error explicabo nemo facilis ex unde ab vitae harum laborum fugit recusandae enim!</p>