<div class="row">
  <div class="col-12">
    <form action="/api/auth/signin" method="POST" class="card mx-auto shadow-sm" id="form_user_signin">
    <div class="card-header">
      <legend>sign in</legend>
    </div>
    <div class="card-body">
      {{#if error_msg}}

      <div class="alert alert-danger text-center">
        <small>{{error_msg}}</small>
        
        </div>

      {{/if}}
      <div class="form-group">
        <label for="email">Email address:</label>
        <input 
          type="email" 
          name="email" 
          class="form-control" 
          autocomplete="off"
          required
        >
        <div class="invalid-feedback">Add valid email.</div>        
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input 
          type="password" 
          name="password" 
          class="form-control" 
          autocomplete="off"
          required
        >
        <div class="invalid-feedback">Add valid password.</div>        
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">sign in</button>      
    </div> 
  </form>
  </div>
</div>