<!DOCTYPE html>
<html lang="en">
{{> _head}}

<body>

  {{#if user}}
    {{> _header}}
  {{/if}}   
  <main class="container">
  {{{body}}}
  </main>  
  {{> _footer}}
  {{> _scripts}}  
</body>

</html>